/*======================

Universal Styling

======================*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: url(https://i.ibb.co/d4M74Cd/moroccan-flower.png);
}

.container {
    max-width: 600px;
    background: white;
    margin: 75px;
    padding: 20px;
    float: left;
}

.sidebar {
    max-width: 200px;
    background: white;
    margin: 50px;
    padding: 20px;
    float: left;
}

h1, h2 {
    margin: 20px 0;
    color: #2d5f73;
}

main p {
    line-height: 140%;
    margin-bottom: 20px;
}

header > nav {
    float: right;
}

section {
    float: left;
    max-width: 900px;
}

main::after {
    content:"";
    clear: both;
    display: block;
}

.headshot {
    float: left;
}

.link {
    color: #2d5f73;
    font-weight: bold;
    margin-right: 5px;
    text-decoration: none;
}

footer {
    background-color: gray;
    text-align: center;
    color: white;
    padding: 20px;
}